body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #1f1f1f;
}

.header-logo h1 {
    font-weight: 700;
    font-size: 1.5em;
    color: #aaff00;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 400;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #aaff00;
}

.header-profile {
    display: flex;
    align-items: center;
}

.header-profile p {
    margin-right: 10px;
    color: #aaff00;
}

.header-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #aaff00;
}

.vip-member-section {
    display: flex;
    gap: 20px;
    margin: 30px;
    width: 90%;
}

.add-member {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-member label {
    display: block;
    color: #aaff00;
    margin-bottom: 10px;
}

.matricula-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.matricula-input input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: #ffffff;
    outline: none;
    width: 70%;
}

.search-button {
    background-color: #aaff00;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #121212;
    font-size: 1em;
}

.add-button {
    background-color: #aaff00;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.add-button:hover {
    background-color: #91e600;
}

.add-vip-member {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-vip-member h3 {
    color: #aaff00;
    margin-bottom: 20px;
}

.add-vip-member form {
    display: flex;
    gap: 20px;
    align-items: center;
}

.member-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member-info label {
    color: #aaff00;
    font-weight: 300;
}

.member-info input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: #ffffff;
    outline: none;
}

.member-status .status {
    color: #00ff00;
    font-weight: bold;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.classes-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
}

.classes-section h3 {
    color: #aaff00;
    margin-bottom: 15px;
}

.personal-classes, .group-classes {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 48%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2d2d2d;
}

th {
    color: #aaff00;
    font-weight: 300;
}

.details-button {
    background-color: #aaff00;
    color: #121212;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.details-button:hover {
    background-color: #91e600;
}

.assign-section {
    width: 90%;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.assign-section form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assign-section label {
    color: #aaff00;
    font-weight: 300;
}

.assign-section select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: #ffffff;
}

.assign-button {
    background-color: #aaff00;
    color: #121212;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.assign-button:hover {
    background-color: #91e600;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 0.9em;
    margin: 0;
}
